/*
!/.config
!.tmux.conf
!.gitignore
!README.md
!.gitconfig
.config/QtProject/*
.config/gh/*
.config/GitHub Desktop/*
.config/github-copilot/*
.config/gh-copilot/*
.config/configstore/*
.config/zed/*
!.config/zed/settings.json
!cpbooster-config.json
.config/wslu/
.config/Code/
**/.DS_Store
